$blue-background: #0059D9;
$light-blue: #71ABFF;
$header-background: #EFF1F2;
$section-background: #C5CDD7;
$body-background: #25282A;
$border-radius-img: 20px;

$white: #ffffff;
$black: #000000;

$deafault-font-size: 18px;
$deafault-line-height: 1.3;
