.header {
  position: sticky;
  z-index: 100;
  top: 0;
  box-sizing: border-box;

  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  text-align: center;

  max-width: 100%;
  height: 80px;
  padding: 0 20px;
  border-radius: 0 0 50px 50px;

  color: #161616;
  font-size: 25px;
  background-color: #ebebeb;
}

.list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  width: 100%;
}

.navItem {
  display: flex;
  margin: 0 20px;

  color: #161616;
  font-family: resume-poppins-regular, sans-serif;
}
