@import "overlayscrollbars/overlayscrollbars.css";

@font-face {
  font-family: resume-poppins-light;
  src: url("../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: resume-poppins-medium;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: resume-poppins-regular;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

ul,
li {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  font-family: resume-poppins-regular, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-text: #161616;
  --light-text: #ffffff;

  /* Скроллбары в Firefox */
  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: #ebebeb transparent; /* плашка скролла и дорожка */
}

/* Скроллбары в Chrome/Edge/Safari */
body::-webkit-scrollbar {
  width: 7px; /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent; /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #383838; /* цвет плашки */
  background-color: #ebebeb; /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid transparent; /* padding вокруг плашки */
}

header > nav > ul > li > a::selection {
  color: #ebebeb;
  background-color: #161616;
}

div > h1 > span::selection {
  color: #161616;
  background-color: #ebebeb;
}

div > h2 > span::selection {
  color: #161616;
  background-color: #ebebeb;
}

header > nav > ul > li > a::-moz-selection {
  color: #ebebeb;
  background-color: #161616;
}

div > h1 > span::-moz-selection {
  color: #161616;
  background-color: #ebebeb;
}

div > h2 > span::-moz-selection {
  color: #161616;
  background-color: #ebebeb;
}

code {
  font-family: resume-poppins-regular, source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
